parameters:
  checkMissingIterableValueType: false
  customRulesetUsed: true
  ignoreErrors:
    - message: '#\Call to deprecated method io\(\) of class Robo\\Tasks#'
      paths:
        - 'src/'
  level: 6
  reportUnmatchedIgnoredErrors: true
