---
name: Tests and Code Analysis
on:  # yamllint disable-line rule:truthy
  # Trigger the workflow on pushes to the main branch and all pull requests.
  push:
    branches:
      - main
  pull_request:

jobs:
  php-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        php: [7.4, 8.0]

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.11.0
        with:
          php-version: ${{ matrix.php }}

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Get composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - uses: actions/cache@v2.1.6
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install composer dependencies
        run: composer install --no-progress

      - name: PHP coding standards
        run: composer php-check

      - name: PHP static analysis
        run: composer php-stan

      - name: Test robo theme:build command.
        run: composer robo theme:build

  yaml-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2.3.4

      - name: YAML lint
        uses: ibiqlik/action-yamllint@v3.0.2
        with:
          config_file: .yamllint.yml
